[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
pandas = "*"
pyarrow = "*"
pyyaml = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"
pandas-gbq = "*"
torch = {version="*", index="pytorch"}

[dev-packages]
jupyter = "*"
ruff = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
mkdocs = "*"
mkdocstrings-python = "*"

[requires]
python_version = "3.12"
