[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
jupyter = "*"
ruff = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.12"
